<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- /vuejs -->

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <!-- /google fonts -->

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- /fontawesome -->

    <!-- css -->
    <link rel="stylesheet" href="dist/app.css">
    <!-- /css -->

    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="img/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="270x270" href="img/favicon-270x270.png">
    <!-- /favicon -->

    <title>MaxCoach</title>
</head>
<body>

    <div id="app">

        <!-- intestazione -->
        <header>

            <div class="container">
                
                <!-- barra di navigazione -->
                <nav class="main_nav">
                    <img class="logo" src="img/dark-logo.png" alt="main logo">

                    <ul>
                        <li v-for="item in navigation">{{item.name}} <i class="fas fa-chevron-down"></i></li>
                    </ul>

                    <div class="social">
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-linkedin"></i>
                    </div>
                </nav>
                <!-- /barra di navigazione -->

                <!-- hero -->
                <div class="hero">
                    <div class="hero__text">
                        <p>I'M WINGMAN</p>
                        <h1>Peace On Earth A Wonderful Wish But No Way</h1>
                        <p>Success isn't overnight. It's when everyday you get a little better than the day before. It all adds up.</p>

                        <div class="btn">
                            <span>Get Started For Free <i class="fas fa-long-arrow-alt-right"></i>
                            </span>
                        </div>

                    </div>

                    <div class="hero__image">
                        <img src="img/home-movation-hero-image.png" alt="pro-pic">
                        <img class="back__pic" src="img/home-movation-shape-face-600x534.png" alt="back-pic">
                    </div>
                </div>
                <!-- hero -->

            </div>

        </header>
        <!-- /intestazione -->

        <!-- corpo principale -->
        <main>

            <div class="container">

                <!-- interlinea -->
                <div class="interline">
                    <div class="stat" v-for="item in stats">
                        <p>{{item.stat}}</p>
                        <span>{{item.name}}</span>
                    </div>
                    <img class="divider" src="img/background-pattern-grid-line-06.png" alt="divider">
                </div>
                <!-- /interlinea -->

                <!-- sezione about me -->
                <div class="about_me">

                    <div class="how_to_be">
                        <div class="how_title">
                            <span>ABOUT ME</span>
                            <h2>How To Be An Alpha Male: The 15 Habits of True Alphas</h2>
                        </div>
                        <div class="how_text">
                            <span>Want to learn how to be <div> an alpha male </div>? How to be more masculine? </span>
                            <span>How to be the man you’ve always wanted to be?
                            </span>
                            <p>Your goal is to show the consistency of business, core values, and customer care. Punctuality, responsibility, individuality, accuracy, enthusiasm – you have to clearly explain how these qualities are applicable to your work. And the important thing is you do love what you do.</p>
                        </div>
                    </div>

                    <div class="video">
                        <div class="video_player">
                            <img class="video_preview" src="img/home-movation-video-poster-670x450.jpg" alt="video_preview">
                            <img class="video_play" src="img/icon-youtube-play.png" alt="video_play">
                        </div>
                        <div class="video_text">
                            <h3>
                                "Every morning you have two choices: continue to sleep with your dreams, or wake up and chase them."
                            </h3>
                            <img src="img/home-movation-shape-01.png" alt="">
                            <p>Kaixa Stark</p>
                            <span>WINGMAN</span>
                        </div>
                    </div>

                </div>
                <!-- /sezione about me -->

                <!-- sezione corsi -->
                <div class="courses">

                    <div class="courses_text">
                        <p>BEGIN YOUR JOURNEY AT MAXCOACH</p>
                        <h2>Latest <span>Online Courses</span></h2>
                    </div>

                    <div class="cards">
                        <div class="card" v-for="item in courses">
                            <img :src="item.image" alt="Course Cover">
                            <div class="card_container">
                                <span>{{item.price}}</span>
                                <p>{{item.name}}</p>
                                <div class="card__text">
                                    <span><i class="far fa-file-alt"></i> {{item.lessons}}</span>
                                    <span><i class="far fa-user"></i> {{item.students}} Students</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="btn">
                        <span>
                            View all courses <i class="fas fa-long-arrow-alt-right"></i>
                        </span>
                    </div>

                </div>
                <!-- /sezione corsi -->

                <!-- sezione bookstore -->
                <div class="bookstore">

                    <div class="bookstore_text">
                        <p>BOOK STORE ONLINE</p>
                        <h2>Be Alpha With <span>Wingman's Book</span></h2>
                        <ul>
                            <li><i class="fas fa-check"></i> Help you understand yourself better</li>
                            <li><i class="fas fa-check"></i> Revealing mature tips</li>
                            <li><i class="fas fa-check"></i> Give the right advice</li>
                            <li><i class="fas fa-check"></i> Fascinating examples of alpha man</li>
                        </ul>
                        <div class="btn">
                            <span>Get Free Ebook</span>
                        </div>
                    </div>

                    
                    <div class="bookstore_card" v-for="book in books">
                        <img :src="book.cover" alt="Book Cover">
                        <ul class="circles">
                            <li><i class="fas fa-search"></i></li>
                            <li><i class="fas fa-shopping-cart"></i></li>
                            <li><i class="far fa-heart"></i></li>
                            <li><i class="fas fa-signal"></i></li>
                        </ul>
                        <p class="title"> {{book.title}} by {{book.author}} </p>
                        <p class="price"> {{book.price}} </p>
                    </div>

                    
                </div>
                <!-- /sezione bookstore -->

                <!-- underline -->
                <div class="sponsors">
                    <img v-for="item in sponsors" :src="item.logo" alt="sponsor logo">
                </div>
                <!-- /underline -->

            </div>

            <!-- sezione carousel -->
            <div class="carousel">
                <div class="text_box" v-for="index in testimonials">
                    <p>REAL STORIES</p>
                    <h3>{{item[counter].quote}}</h3>
                    <div class="testimonial_info">
                        <img :src="item[counter].propic" alt="avatar">
                        <h3>{{item[counter].name}}</h3>
                        <span>/{{item[counter].job}}</span>
                    </div>

                </div>
                <div class="img_box">
                    <img src="img/home-movation-testimonial-image-768x562.jpg" alt="testimonial image">
                </div>

                <div class="arrows">
                    <img @click="arrowUp" src="img/arrowup.png" alt="arrow up">
                    <span>1/4</span>
                    <img @click="arrowDown" src="img/arrowdown.png" alt="arrow down">
                </div>
            </div>
            <!-- /sezione carousel -->

            <div class="container">

                <!-- sezione blog -->
                <div class="blog">
                    <div class="blog_title">
                        <p>blog updated</p>
                        <h2>Interesting <span>articles updated</span> daily</h2>
                    </div>

                    <div class="blog_cards">
                        <div class="post" v-for="item in blog">
                            <img :src="item.cover" alt="post cover">
                            <p> <i class="far fa-calendar"></i> {{item.date}}</p>
                            <h4>{{item.title}}</h4>
                            <p>{{item.preview}}</p>
                        </div>
                    </div>

                    <div class="blog_all">
                        <span>view all posts</span>
                    </div>
                </div>
                <!-- /sezione blog -->

            </div>

        </main>
        <!-- /corpo principale -->

        <!-- footer -->
        <footer>
            <div class="container">

                <div class="nav_box">
                    
                    <div class="address">
                        <h5>Address</h5>
                        <p>382 NE 191st St # 87394 Miami, FL 33179-3899
                        </p>
                        <p>+1 (305) 547-9909 (9am - 5pm EST, Monday - Friday)</p>
                        <p class="email">support@maxcoach.com</p>
                        <p>
                            <i class="fab fa-facebook-square"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-linkedin"></i>
                        </p>
                    </div>

                    <div class="footer_nav">

                        <div class="small_nav">
                            <div class="nav_title">
                                <h5>Explore</h5>
                            </div>
                            <ul class="long-list">
                                <li v-for="item in explore">{{item.name}}</li>
                            </ul>
                        </div>

                        <div class="small_nav">
                            <div class="nav_title">
                                <h5>Information</h5>
                            </div>
                            <ul>
                                <li v-for="item in information">{{item.name}}</li>
                            </ul>
                        </div>

                    </div>

                </div>

                <div class="copyright">
                    <p>© 2020 Maxcoach. All Rights Reserved</p>
                </div>
            </div>
        </footer>
        <!-- /footer -->

    </div>

    <!-- javascript -->
    <script src="js/script.js"></script>
    <!-- /javascript -->

</body>
</html>