<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- /vuejs -->

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <!-- /google fonts -->

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- /fontawesome -->

    <!-- css -->
    <link rel="stylesheet" href="dist/app.css">
    <!-- /css -->

    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="img/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="270x270" href="img/favicon-270x270.png">
    <!-- /favicon -->

    <title>MaxCoach</title>
</head>
<body>

    <div id="app">

        <!-- intestazione -->
        <header>

            <div class="container">
                
                <!-- barra di navigazione -->
                <nav class="main_nav">
                    <img class="logo" src="img/dark-logo.png" alt="main logo">

                    <ul>
                        <li v-for="item in navigation">{{item.name}} <i class="fas fa-chevron-down"></i></li>
                    </ul>

                    <div class="social">
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-linkedin"></i>
                    </div>
                </nav>
                <!-- /barra di navigazione -->

                <!-- hero -->
                <div class="hero">
                    <div class="hero__text">
                        <span>I'M WINGMAN</span>
                        <h1>Peace On Earth A Wonderful Wish But No Way</h1>
                        <span>Success isn't overnight. It's when everyday you get a little better than the day before. It all adds up.</span>

                        <div class="btn">
                            <span>
                                Get Started For Free <i class="fas fa-long-arrow-alt-right"></i>
                            </span>
                        </div>

                    </div>

                    <div class="hero__image">
                        <img src="img/home-movation-hero-image.png" alt="pro-pic">
                        <img class="back__pic" src="img/home-movation-shape-face-600x534.png" alt="back-pic">
                    </div>
                </div>
                <!-- hero -->

            </div>

        </header>
        <!-- /intestazione -->

        <!-- corpo principale -->
        <main>
            <div class="container">

            <!-- interlinea -->
                <div class="interline">
                    <div class="stat" v-for="item in stats">
                        <p>{{item.stat}}</p>
                        <span>{{item.name}}</span>
                    </div>
                    <img class="divider" src="img/background-pattern-grid-line-06.png" alt="divider">
                </div>
            <!-- /interlinea -->

            </div>
        </main>
        <!-- /corpo principale -->
    </div>

    <!-- javascript -->
    <script src="js/script.js"></script>
    <!-- /javascript -->

</body>
</html>