* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Commissioner', sans-serif;
    font-family: 'Playfair Display', serif;
}

.container {
    width: 70%;
    margin: auto;
}

.btn {
    background-color: $btnColor;
    color: #fff;
    font-size: $smallFont;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-family: $sansSerif;
    &:hover {
        background-color: $colorViolet;
        border-color: $colorViolet;
    }

    i {
        margin-left: 10px;
    }
}