* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Commissioner', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.container {
    width: 60%;
    margin: auto;
}