// interlinea
.interline {
    margin: 50px 0;
    display: flex;
    align-items: center;
    height: 125px;
    font-family: $sansSerif;
    position: relative;
    .stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 96px;
        width: 300px;
        background-image: url("../img/background-pattern-grid-line-06.png");
        p {
            color: $btnColor;
            font-size: 32px;
            font-weight: 500;
        }
        span {
            text-transform: uppercase;
            font-size: 12px;
        }
    }

    .divider {
        transform: rotate(180deg);
        position: absolute;
        right: 0px;
    }
}
// /interlinea

// sezione about me
.how_to_be {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    
    .how_title{
        width: 40%;
        span {
            color: $btnColor;
            font-size: $smallFont;
            font-family: $sansSerif;
        }
        h2 {
            font-family: $serif;
            font-size: 34px;
            font-weight: 400;
        }
    }

    .how_text {
        width: 50%;
        display: flex;
        flex-direction: column;
        font-family: $sansSerif;
        span {
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: 500;
            div {
                display: inline-block;
                color: $btnColor;
            }
        }
        p {
            font-size: $smallFont;
            color: #6b6c6c;
        }
    }
}

.video {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    .video_player {
        position: relative;
        width: 55%;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 3px 5px rgba(0,0,0,0);
        .video_preview {
            height: 100%;
            width: 100%;
            transition: transform 1s;
            &:hover {
                transform: scale(1.1);
            }
        }
        .video_play {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 65px;
        }
    }
    .video_text {
        font-family: $serif;
        width: 40%;
        h3 {
            font-size: 24px;
            font-weight: 300;
        }
        img {
            margin: 50px 0px 20px 0px;
            height: 20px; 
        }
        p {
            font-family: $sansSerif;
            font-size: 22px;
        }
        span {
            font-family: $sansSerif;
            font-size: $smallFont;
            font-weight: 700;
            color: $greyColor;
        }
    }
}
// /sezione about me

// sezione corsi
.courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.courses_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    p {
        font-family: $sansSerif;
        font-size: $smallFont;
        color: $greyColor;
        margin-bottom: 20px;
    }

    h2 {
        font-family: $serif;
        font-size: 34px;
        font-weight: 400;
        span {
            color: $btnColor;
        }
    }
}

.cards {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .card {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        width: 300px;
        font-family: $sansSerif;
        margin-bottom: 30px;
        overflow: hidden;
        &:hover {
            box-shadow: 0 14px 59px rgb(0 0 0 / 12%);
        }

        &:hover img {
            transform: scale(1.1);
        }

        img {
            width: 100%;
            transition: transform 1s;
            overflow: hidden;
        }

        .card_container {
            width: 85%;
            margin: auto;
            display: flex;
            flex-direction: column;    
            span {
                padding-top: 20px;
                font-size: 26px;
                font-weight: 600;
                color: $btnColor;
            }
    
            p {
                margin-top: 8px;
                font-size: 18px;
                font-weight: 500;
                line-height: 33px;
                color: $colorViolet;

                &:hover {
                    color: $btnColor;
                    cursor:pointer;
                }
            }
    
            .card__text {
                margin: 20px 0 40px 0;
                display: flex;
                justify-content: flex-start;
                span {
                    color: $greyColor;
                    font-size: $smallFont;
                    margin-right: 30px;
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
// /sezione corsi

// sezione bookstore
.bookstore {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    .bookstore_text {
        display: flex;
        flex-direction: column;
        width: 40%;
        p {
            font-family: $sansSerif;
            color: $greyColor;
            margin-bottom: 20px;
        }

        h2 {
            font-family: $serif;
            font-size: 36px;
            font-weight: 400;
            margin-bottom: 20px;
            span {
                color: $btnColor;
            }
        }
    
        ul {
            margin-bottom: 20px;
            li {
                list-style: none;
                font-family: $sansSerif;
                font-size: $smallFont;
                color: $greyColor;
                margin-bottom: 10px;
                i {
                    color: $btnColor;
                    font-size: 16px;
                    margin-right: 10px;
                }
            }
        }
    }

    .bookstore_card {
        width: 27%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &:hover .circles {
            display: block;
        }
        img {
            width: 100%;
        }  
        
        .circles {
            position: absolute;
            display: none;
            right: 26px;
            top: 48px;
            li {
                list-style: none;
                background-color: #fff;
                height: 32px;
                border-radius: 50%;
                margin-bottom: 14px;
                width: 32px;
                line-height: 32px;
                text-align: center;
                font-size: 15px;
                cursor: pointer;
                &:hover {
                    color: $btnColor;
                }
            }
        }
        
        .title {
            font-family: $sansSerif;
            color: $colorViolet;
            font-weight: 500;
            margin: 20px 0;
        } 
        .price {
            font-family: $sansSerif;
            color: $btnColor;
            font-size: 24px;
            font-weight: 600;
        }
    }
    
}
// /sezione bookstore

// underline
.sponsors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    img {
        filter: brightness( 50% ) contrast( 100% ) saturate( 100% );
        opacity: 0.2;
        width: 92px;
        &:hover {
            filter: none;
            opacity: 1;
        } 
    }
}
// /underline

// sezione carousel
.carousel {
    margin-bottom: 80px;
    display: flex;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    .text_box {
        width: 50%;
        background-image: $waves;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        p {
            color: $btnColor;
            font-family: $sansSerif;
        }
        h3 {
            font-family: $sansSerif;
            text-align: center;
            font-weight: 300;
            width: 50%;
            line-height: 37px;
        }

        .testimonial_info {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            img {
                height: 90px;
                border-radius: 50%;
            }
            span {
                font-family: $sansSerif;
                color: $greyColor;
                font-size: $smallFont;
            }
        }
        
    }
    .img_box {
        width: 50%;
    }

    .arrows {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 90px;
        width: 90px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        box-shadow: 3px -9px 107px -19px rgba(0,0,0,0.74);
        img {
            height: 10px;
        }
        span {
            font-family: $sansSerif;
            font-size: $smallFont;
        }
    }
}
// /sezione carousel

// sezione blog
.blog_title {
        p {
            font-family: $sansSerif;
            color: $greyColor;
            text-transform: uppercase;
            font-size: $smallFont;
        }
        h2 {
            font-family: $serif;
            font-size: 36px;
            font-weight: 400;
            margin: 20px 0;
            span {
                color: $btnColor;
            }
        }
}

.blog_cards {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    .post {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 22%;
        height: 120px;
        img {
            width: 100%;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        p {
            font-family: $sansSerif;
            color: $greyColor;
            font-size: $smallFont;
            margin-bottom: 20px;
            i {
                margin-right: 8px;
            }
        }
        h4 {
            font-family: $sansSerif;
            margin-bottom: 20px;
            line-height: 25px;
            &:hover {
                color: $btnColor;
                cursor: pointer;
            }
        }
    }
}

.blog_all {
    text-align: center;
    margin-top: 224px;
    margin-bottom: 40px;
    span {
        font-family: $sansSerif;
        text-transform: uppercase;
        color: $btnColor;
        border-bottom: 2px solid $btnColor;
        padding-bottom: 3px;
        cursor: pointer;
        &:hover {
            color: $colorViolet;
            border-bottom: 2px solid $colorViolet;
        }
    }
}
// /sezione blog