// interlinea
.interline {
    margin: 50px 0;
    display: flex;
    align-items: center;
    height: 125px;
    font-family: $sansSerif;
    position: relative;
    .stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 96px;
        width: 300px;
        background-image: url("../img/background-pattern-grid-line-06.png");
        p {
            color: $btnColor;
            font-size: 32px;
            font-weight: 500;
        }
        span {
            text-transform: uppercase;
            font-size: 12px;
        }
    }

    .divider {
        transform: rotate(180deg);
        position: absolute;
        right: 0px;
    }
}
// /interlinea

// sezione about me
.how_to_be {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    
    .how_title{
        width: 40%;
        span {
            color: $btnColor;
            font-size: $smallFont;
            font-family: $sansSerif;
        }
        h2 {
            font-family: $serif;
            font-size: 34px;
            font-weight: 400;
        }
    }

    .how_text {
        width: 50%;
        display: flex;
        flex-direction: column;
        font-family: $sansSerif;
        span {
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: 500;
            div {
                display: inline-block;
                color: $btnColor;
            }
        }
        p {
            font-size: $smallFont;
            color: #6b6c6c;
        }
    }
}

.video {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    .video_player {
        position: relative;
        width: 55%;
        .video_preview {
            width: 100%;
            border-radius: 5px;
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 3px 5px rgba(0,0,0,0);
        }
        .video_play {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 65px;
        }
    }
    .video_text {
        font-family: $serif;
        width: 40%;
        h3 {
            font-size: 24px;
            font-weight: 300;
        }
        img {
            margin: 50px 0px 20px 0px;
            height: 20px; 
        }
        p {
            font-family: $sansSerif;
            font-size: 22px;
        }
        span {
            font-family: $sansSerif;
            font-size: $smallFont;
            font-weight: 700;
            color: $greyColor;
        }
    }
}
// /sezione about me

// sezione corsi
.courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.courses_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    p {
        font-family: $sansSerif;
        font-size: $smallFont;
        color: $greyColor;
        margin-bottom: 20px;
    }

    h2 {
        font-family: $serif;
        font-size: 34px;
        font-weight: 400;
        span {
            color: $btnColor;
        }
    }
}

.cards {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .card {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        width: 300px;
        font-family: $sansSerif;
        margin-bottom: 30px;
        &:hover {
            box-shadow: 0 14px 59px rgb(0 0 0 / 12%);
        }

        img {
            width: 100%;
        }

        .card_container {
            width: 85%;
            margin: auto;
            display: flex;
            flex-direction: column;    
            span {
                padding-top: 20px;
                font-size: 26px;
                font-weight: 600;
                color: $btnColor;
            }
    
            p {
                margin-top: 8px;
                font-size: 18px;
                font-weight: 500;
                line-height: 33px;
                color: $colorViolet;

                &:hover {
                    color: $btnColor;
                    cursor:pointer;
                }
            }
    
            .card__text {
                margin: 20px 0 40px 0;
                display: flex;
                justify-content: flex-start;
                span {
                    color: $greyColor;
                    font-size: $smallFont;
                    margin-right: 30px;
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
// /sezione corsi