$serif: 'Playfair Display', serif;
$sansSerif: 'Commissioner', sans-serif;
$smallFont: 14px;

$waves: url("../img/background-pattern-wavify.png");

$colorViolet: #3F3A64;
$backgroundColor: #ebe9ed;
$btnColor: #2079AC;
$greyColor: #6b6c6c;